Print the following pattern:

1 
2 2  
3 3 3  
4 4 4 4  
5 5 5 5 5

In [56]:
n = int(input())
for i in range(1,n+1):
    for j in range(i):
        print(i, end = ' ')
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Print the following pattern:

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [60]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Print the following pattern:

1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5

In [61]:
n = int(input())
for i in range(1,n+1):
    for j in range(n+1-i):
        print(i, end=' ')
    print()

5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

Inverted pyramid with same digits:

5 5 5 5 5 
5 5 5 5 
5 5 5 
5 5 
5

In [62]:
n = int(input())
for i in range(n):
    for j in range(n-i):
        print(n,end= " ")
    print()

5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

0 1 2 3 4 5 
0 1 2 3 4 
0 1 2 3 
0 1 2 
0 1

In [63]:
n = int(input())
for i in range(n+1):
    for j in range(n+1-i):
        print(j, end=' ')
    print()

5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

Alternate number pattern using while loop

1 
3 3 
5 5 5 
7 7 7 7 
9 9 9 9 9

In [66]:
rows = 5
i = 1
while i<=rows:
    j=1
    while j <=i:
        print(i*2-1,end=' ')
        j=j+1
    i=i+1
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

5 5 5 5 5 
4 4 4 4 
3 3 3 
2 2 
1

In [67]:
n = int(input())
for i in range(n,0,-1):
    for j in range(i):
        print(i, end=' ')
    print()

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

Pattern

1 
2 1 
3 2 1 
4 3 2 1 
5 4 3 2 1

In [ ]:
n = int(input())
for i in range()

pattern

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [71]:
n = int(input())
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print()

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [77]:
#Alternatively

n =int(input())
for i in range(n+1):
    for j in range(n-i,0,-1):
        print(j,end=' ')
    print()

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

pattern

1
3 2
6 5 4
10 9 8 7

In [82]:
start = 1
stop = 2
current_num = stop
for row in range(2,6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7